table.diff { border:0px; border-collapse:collapse; width: 100%; font-size:0.75em; font-family: Lucida Console, monospace }
table.diff td.line { color:#8080a0 }
table.diff th { background: black; color: white }
table.diff tr.diffunmodified td { background: #D0D0E0 }
table.diff tr.diffhunk td { background: #A0A0A0 }
table.diff tr.diffadded td { background: #CCFFCC }
table.diff tr.diffdeleted td { background: #FFCCCC }
table.diff tr.diffchanged td { background: #FFFFA0 }
table.diff span.diffchanged2 { background: #E0C880 }
table.diff span.diffponct { color: #B08080 }
table.diff tr.diffmisc td {}
table.diff tr.diffseparator td {}
